<div>
    <app-w-header [currentUser]="currentUser"></app-w-header>
</div>

<mat-drawer-container
    autosize
    [hasBackdrop]="false"
    class="sidenav-container"
>
    <mat-drawer
        #sidenav
        mode="over"
        opened="isExpanded"
        class="sidenav"
        (mouseenter)="openSidenav()"
        (mouseleave)="closeSidenav()"
    >
      <mat-nav-list>

        <mat-list-item
          style="cursor: pointer"
          routerLink="/schedule"
          [routerLinkActive]="['is-active']"
          class="nav-item"
        >
            <img
                src="../../../../assets/img/schedule.svg"
                class="sidenav-img"
        >
            <span
              *ngIf="isExpanded"
              class="nav-text"
            >Schedule</span>
        </mat-list-item>

        <mat-list-item
          style="cursor: pointer"
          routerLink="/goals"
          [routerLinkActive]="['is-active']"
        >
            <img
                src="../../../../assets/img/goals.svg"
                class="sidenav-img"
        >
          <span
            *ngIf="isExpanded"
            class="nav-text"
          >Goals</span>
        </mat-list-item>
  
        <mat-list-item
          style="cursor: pointer"
          routerLink="/plans"
          [routerLinkActive]="['is-active']"
        >
            <img
                src="../../../../assets/img/plans.svg"
                class="sidenav-img"
        >
        <span
          *ngIf="isExpanded"
          class="nav-text"
        >Plans</span>
        </mat-list-item>

        <mat-list-item
          style="cursor: pointer"
          routerLink="/teams"
          [routerLinkActive]="['is-active']"
          class="nav-item"
        >
            <img
                src="../../../../assets/img/team.png"
                class="sidenav-img"
        >
            <span
              *ngIf="isExpanded"
              class="nav-text"
            >Teams</span>
        </mat-list-item>
  
      </mat-nav-list>
    </mat-drawer>
  
    <mat-drawer-content class="content">
      <router-outlet *ngIf="!isShared"></router-outlet>
      <app-shared-profile *ngIf="isShared"></app-shared-profile>
    </mat-drawer-content>
  
  </mat-drawer-container>