<mat-toolbar class="header-container">
  <div class="header-underlined">
    <div class="header-content">
      <img
        class="header-logo"
        src="../../../../assets/img/Logo.png"
      >
      <div class="navigation-buttons">
        <button
          class="nav-button"
          (click)="redirectToSchedule()"
        >
          Schedule
        </button>
        <button
          class="nav-button"
          (click)="redirectToPlans()"
        >
          Plans
        </button>
      </div>
      <div class="user-info">
        <img
          class="user-logo"
          src="../../../../assets/img/user-logo.png"  
        >
        <p class="username">{{currentUser.name}}</p>
        <button
          mat-icon-button [matMenuTriggerFor]="menu"
          class="icon-button-small"
        >
          <mat-icon class="drop-down-icon">arrow_drop_down</mat-icon>
        </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span>My profile</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <span>Logout</span>
            </button>
          </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>