.register-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.info-text-black{
    font-size: 2rem;
    color: black;
    margin-block-start: 3rem;
}

.register-form-container{
    border: 3px solid #FFA500;
    border-radius: 10px;
    width: 30rem;
    height: 33rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 15rem;
    top: 10rem;
}

.register-form{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

.register-text{
    width: 45%;
    text-align: center;
    border-bottom: 3px solid #FFA500;
    position: relative;
    top: 10rem;
    left: 20rem;
    vertical-align: text-top;
}

.register-text-header{
    font-size: 3rem;
    margin-block-start: 0;
    margin-block-end: 1.5rem;
    font-weight: 500;
}

.register-button{
    height: 2.5rem;
    width: 7.5rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    position: relative;
}
  
.register-button:hover {
    border-radius: 5px;
    background-color: white;
    color: black;
    transition: 0.2s;
    border: 1px solid black;
}

.form-field{
    width: 100%;
}

.register-buttons {
    display: flex;
    flex-direction: raw;
}

.back-button {
    position: relative;
    top: 4rem;
    left: 4rem;
    transform: scale(1.5);
}

.back-button-icon {
    transform: scale(1.5);
}

.swith-to-signin{
    display: flex;
    flex-direction: raw;
}

.signin-button{
    border: none;
    background-color: inherit;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: #FFA500;
}

.register-info{
    display: flex;
    flex-direction: column;
}

.registration-logo-container{
    width: 10rem;
    margin-left: 31rem;
    margin-top: 13rem;
    border-bottom: 3px solid #FFA500;
}

.registration-logo{
    width: 10rem;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white;
}

::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: #FFA500 !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
}

::ng-deep .mat-mdc-dialog-container {
    --mdc-dialog-container-color: white !important;
}