<div class="register-container">
    <button
        class="back-button"
        mat-icon-button
        (click)="redirectToHome()"
    >
        <mat-icon class="back-button-icon">arrow_back</mat-icon>
    </button>
    <div class="register-form-container">
        <P class="info-text-black">Registration</P>
        <form
            class="register-form"
            [formGroup]="registerForm"
            action=""
            (submit)="registerUser()"
        >
            <mat-form-field
                color="primary"
                class="form-field"
                appearance="fill"
                hideRequiredMarker="true"
            >
                <mat-label>Username</mat-label>
                <input
                    matInput
                    formControlName="username"
                    id="username"
                >
            </mat-form-field>

            <mat-form-field
                appearance="fill"
                class="form-field"
                color="accent"
                hideRequiredMarker="true"
            >
                <mat-label>Email</mat-label>
                <input
                    matInput
                    formControlName="email"
                    id="email"
                >
            </mat-form-field>

            <div class="password-field">
                <mat-form-field
                    appearance="fill"
                    class="form-field"
                    hideRequiredMarker="true"
                >
                    <mat-label>Password</mat-label>
                    <input
                        [type]="passwordType"
                        matInput
                        formControlName="password"
                        id="password"
                    >
                </mat-form-field>
                <button
                    type="button"
                    class="show-password-button"
                    (click)="togglePassword()">
                    <img
                        class="show-password-svg"
                        src="{{imgSrc}}"
                    >
                </button>
            </div>

            <mat-form-field
                appearance="fill"
                class="form-field"
                hideRequiredMarker="true"
            >
                <mat-label>Confirm password</mat-label>
                <input
                    matInput
                    formControlName="confirmPassword"
                    id="confirmPassword"
                >
            </mat-form-field>
                <button
                    class="register-button"
                    type="submit"
                >
                    Sign up
                </button>
        </form>
        <div class="swith-to-signin">
            <p>Already have an account?</p>
            <button
                class="signin-button"
                (click)="switchToLogin()"    
            ><b>Sign in</b></button>
        </div>
    </div>
    <div class="register-info">
        <div class="register-text">
            <p class="register-text-header">A few simple steps and you will have your own online organizer!</p>
        </div>
        <div class="registration-logo-container">
            <img
            class="registration-logo"
            src="../../../../assets/img/Logo.png"
          >
        </div>
    </div>
</div>