<mat-toolbar>
    <mat-toolbar-row>
      <div class="additional-icons">
        <button mat-icon-button>
          <mat-icon svgIcon="search"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon svgIcon="bell"></mat-icon>
        </button>
        <button
          mat-button
          class="user-avatar-button"
          (contextmenu)="onContextMenu($event)"
          [matMenuTriggerFor]="contextMenu"
        >
        </button>
        <mat-menu #contextMenu="matMenu" xPosition="before">
          <button mat-menu-item (click)="onLogOut()">Log out</button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  