<div class="dialog-header">
  <p class="info-text-black">
    Editing plan
  </p>
  
  <p class="info-text-black">
    ({{plan.name}})
  </p>
</div>

<img
  class="close-img"
  src="../../../../assets/img/close-window.png"
  (click)="close()"
>

<mat-dialog-content
  [formGroup]="dialogForm"
  class="plan-dialog-container"
>
  <div class="plan-field-container">
    <mat-form-field class="plan-field">
      <input
        matInput
        placeholder="Plan name"
        formControlName="planName"
        class="handwitten-field"
        value="{{plan.name}}"
        (keypress)="inputValidation($event, 'Plan name')"
      >
    </mat-form-field>
  </div>
</mat-dialog-content>

<div class="errors">
  <span *ngIf="dialogForm.controls['planName'].touched">
      <span *ngIf="dialogForm.controls['planName'].errors?.['required']">
          Plan name is required
      </span>
      <span
          *ngIf="dialogForm.controls['planName'].errors?.['maxlength']"
      >
          Plan name can have up to 15 characters
      </span>
  </span>
</div>

<div class="buttons-container">
  <mat-dialog-actions class="delete-button-container">
    <button
      class="delete-button"
      (click)="delete()"
    >
      Delete
    </button>
  </mat-dialog-actions>
  <mat-dialog-actions class="plan-button-container">
    <button
      class="plan-button"
      (click)="save()"
      [disabled]="!dialogForm.valid"
    >
      Save
    </button>
  </mat-dialog-actions>
</div>