<h2
  mat-dialog-title
  class="info-text-black"
>
  Update task
</h2>

<mat-dialog-content
  [formGroup]="dialogForm"
  class="add-dialog-container"
>
  <mat-form-field>
    <input
      matInput
      placeholder="Activity name"
      formControlName="activityName"
    >
  </mat-form-field>
  <mat-form-field>
    <input
    matInput
    placeholder="Activity description"
    formControlName="activityDescription"
  >
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions class="add-button-container">
  <button
    class="add-button"
    (click)="save()"
    [disabled]="!dialogForm.valid"
  >
    Save
  </button>
</mat-dialog-actions>