<h2
  mat-dialog-title
  class="info-text-black"
>
  Update activity
</h2>

<button
  class="create-button"
>
  <img
    src="../../../../assets/img/add-button.svg"
    class="create-button-icon"
  >
</button>

<mat-dialog-content
  [formGroup]="dialogForm"
  class="add-dialog-container"
>
  <mat-form-field>
    <input
      matInput
      placeholder="Activity name"
      formControlName="activityName"
    >
  </mat-form-field>
  <mat-form-field>
    <input
    matInput
    placeholder="Activity description"
    formControlName="activityDescription"
  >
  </mat-form-field>
</mat-dialog-content>

<div class="buttons-container">
  <mat-dialog-actions class="delete-button-container">
    <button
      class="delete-button"
      (click)="delete()"
    >
      Delete
    </button>
  </mat-dialog-actions>
  <mat-dialog-actions class="add-button-container">
    <button
      class="add-button"
      (click)="save()"
      [disabled]="!dialogForm.valid"
    >
      Save
    </button>
  </mat-dialog-actions>
</div>