.info-text-black{
    font-size: 2rem;
    margin-block-start: 1.5rem;
    margin-block-end: 1.5rem;
    font-weight: 400;
}

.close-img{
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.settings-dialog-container{
    width: 30rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.handwitten-field {
    font-family: 'Handwriting', sans-serif !important;
    color: #000F55 !important;
    font-weight: 800 !important;
    font-size: 1.5rem !important;
}

.form-field{
    width: 60%;
}

.name-field{
    display: flex;
    flex: row;
    width: 80%;
}

.team-state{
  display: flex;
  flex: row;
  width: 100%;
  margin-top: 1rem;
}

.field-text{
    font-family: 'Handwriting', sans-serif !important;
    color: #000F55 !important;
    font-weight: 800 !important;
    font-size: 1.5rem !important;
    margin-right: 1rem;
}

.color-picker{
    margin-left: 1rem;
}

.buttons-container{
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  position: relative;
  width: 90%;
  margin-bottom: 1rem;
}

.add-button{
  right: 0;
  position: absolute;
  height: 2.5rem;
  width: 6rem;
  font-size: 1.25rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}
  
.add-button:hover {
    border-radius: 5px;
    background-color: white;
    color: black;
    transition: 0.2s;
    border: 1px solid black;
}

.delete-button{
  position: absolute;
  left: 0;
  height: 2.5rem;
  width: 6rem;
  font-size: 1.25rem;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}

.delete-button:hover{
  border-radius: 5px;
  background-color: white;
  color: red;
  transition: 0.2s;
  border: 1px solid red;
}

.colorpick-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.colorpick-text{
    font-family: 'Handwriting', sans-serif !important;
    color: #000F55 !important;
    font-weight: 800 !important;
    font-size: 1.5rem !important;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

.team-state-text{
  font-family: 'Handwriting', sans-serif !important;
  color: #000F55 !important;
  font-weight: 800 !important;
  font-size: 1.5rem !important;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  margin-right: 1rem;
}

.activities-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

.activity-form-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-settings-container{
    display: flex;
    flex-direction: column;
}

.user-bullet{
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.5rem;
}

.user-name-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-name-text{
    color: black;
    font-size: 1rem;
}

.admin-logo{
    height: 1.25rem;
    width: 1.25rem;
    margin-left: 0.5rem;
}

::ng-deep .mat-mdc-snack-bar-container{
    --mdc-snackbar-container-color: white !important;
    border: 3px solid #FFA500 !important;
    border-top: none !important;
    margin: 0 !important;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface{
    box-shadow: none !important;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface{
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__label{
    color: black !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white;
}

::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: #FFA500 !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
}

::ng-deep .mat-mdc-dialog-container {
    --mdc-dialog-container-color: white !important;
}

#colorpicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  #colorpicker::-webkit-color-swatch {
    border-radius: 5px;
    border: none;
  }
  #colorpicker::-moz-color-swatch {
    border-radius: 5px;
    border: none;
  }

  .checkbox-wrapper {
    --size: 1.5rem;
    position: relative;
    margin-right: 2rem;
  }
  
  .checkbox-wrapper *,
  .checkbox-wrapper *:before,
  .checkbox-wrapper *:after {
    box-sizing: border-box;
  }
  
  .checkbox-wrapper .promoted-input-checkbox {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }
  
  .checkbox-wrapper input:checked ~ svg {
    height: calc(var(--size) * 0.6);
    -webkit-animation: draw-checkbox ease-in-out 0.2s forwards;
            animation: draw-checkbox ease-in-out 0.2s forwards;
  }
  .checkbox-wrapper label:active::after {
    background-color: #e6e6e6;
  }
  .checkbox-wrapper label {
    color: black;
    line-height: var(--size);
    cursor: pointer;
    position: relative;
  }
  .checkbox-wrapper label:after {
    content: "";
    height: var(--size);
    width: var(--size);
    margin-right: 0.5rem;
    float: left;
    border: 2px solid black;
    border-radius: 3px;
    transition: 0.15s all ease-out;
  }
  .checkbox-wrapper svg {
    stroke: #FFA500;
    stroke-width: 3px;
    height: 0;
    width: calc(var(--size) * 0.6);
    position: absolute;
    left: calc(var(--size) * 0.21);
    top: calc(var(--size) * 0.2);
    stroke-dasharray: 33;
  }
  
  @-webkit-keyframes draw-checkbox {
    0% {
      stroke-dashoffset: 33;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes draw-checkbox {
    0% {
      stroke-dashoffset: 33;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }