/*divs*/

.goal-dialog-container{
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag-field-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*form*/

.goal-field-container{
    display: flex;
    flex-direction: row;
}

.goal-name-container{
    display: flex;
    flex-direction: column;
}

.goal-activities-container{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.goal-field{
    width: 10rem;
    margin-right: 2rem;
}

.tag-field{
    width: 10rem;
}

.activity-field{
    width: 10rem;
    margin-right: 2rem;
}

.description-field{
    width: 10rem;
}

.handwritten-field {
    font-family: 'Handwriting', sans-serif !important;
    color: #000F55 !important;
    font-weight: 800 !important;
    font-size: 1.5rem !important;
}

.activity-form-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*activities*/

.activities-container{
    display: flex;
    flex-direction: row;
}

/*text*/

.info-text-black{
    font-size: 2rem;
    margin-block-start: 1.5rem;
    margin-block-end: 1.5rem;
    text-align: center;
}

.field-name{
    margin-block-start: 0;
    margin-block-end: 1rem;
    font-size: 1.25rem;
    color: black;
    text-align: left;
}

/*buttons*/

.delete-btn{
    height: 1.5rem;
    margin-left: 1rem;
}

.mat-mdc-fab.mat-accent, .mat-mdc-mini-fab.mat-accent {
    --mdc-fab-container-color: #FFA500 !important;
}

.buttons-container{
    display: flex;
    justify-content: end;
}

.add-button{
    height: 2.5rem;
    width: 5rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    position: relative;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
  
.add-button:hover {
    border-radius: 5px;
    background-color: white;
    color: black;
    transition: 0.2s;
    border: 1px solid black;
}

/*color picker*/

.color-picker{
    margin-left: 0.5rem;
}

#colorpicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  #colorpicker::-webkit-color-swatch {
    border-radius: 5px;
    border: none;
  }
  #colorpicker::-moz-color-swatch {
    border-radius: 5px;
    border: none;
  }

  ::ng-deep .mat-mdc-snack-bar-container{
    --mdc-snackbar-container-color: white !important;
    border: 3px solid #FFA500 !important;
    border-top: none !important;
    margin: 0 !important;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface{
    box-shadow: none !important;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface{
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__label{
    color: black !important;
}
