<h2
  mat-dialog-title
  class="info-text-black"
>
  Schedule activity
</h2>

<mat-dialog-content
  [formGroup]="dialogForm"
  class="add-dialog-container"
>
<div class="set-time-container">
  <mat-form-field class="start-time">
    <mat-label>Start time</mat-label>
      <mat-select formControlName="startTime" class="start-ti,e-field">
        <mat-option
          *ngFor="let option of selectOptions"
          [value]="option"
        >
          {{ option }}:00
        </mat-option>
      </mat-select>
  </mat-form-field>
  <p class="time-sepaprator">-</p>
  <mat-form-field>
    <mat-label>End time</mat-label>
      <mat-select formControlName="endTime">
        <mat-option
          *ngFor="let option of selectOptions"
          [value]="option"
        >
          {{ option }}:00
        </mat-option>
      </mat-select>
  </mat-form-field>
</div>
</mat-dialog-content>

<div class="buttons-container">
  <mat-dialog-actions class="delete-button-container">
  </mat-dialog-actions>
  <mat-dialog-actions class="add-button-container">
    <button
      class="add-button"
      (click)="save()"
      [disabled]="!dialogForm.valid"
    >
      Save
    </button>
  </mat-dialog-actions>
</div>