@import '~@angular/material/theming';
@include mat-core();

@include angular-material-theme($my-app-theme);
.alternate-theme {
  $alternate-primary: mat-palette(#FFA500);
  $alternate-accent:  mat-palette($mat-yellow, 400);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
}