<h2
  mat-dialog-title
  class="info-text-black"
>
  {{currentActivity.name}}
</h2>

<mat-dialog-content
  [formGroup]="dialogForm"
  class="add-dialog-container"
>
<div class="set-time-container">
  <mat-form-field class="start-time">
    <mat-label>Start time</mat-label>
      <mat-select formControlName="startTime" class="start-time-field" [(ngModel)]='currentActivity.startTime'>
        <mat-option
          *ngFor="let option of selectOptions"
          [value]="option"
        >
          {{ option }}:00
        </mat-option>
      </mat-select>
  </mat-form-field>
  <p class="time-sepaprator">-</p>
  <mat-form-field>
    <mat-label>End time</mat-label>
      <mat-select formControlName="endTime" [(ngModel)]='currentActivity.endTime'>
        <mat-option
          *ngFor="let option of selectOptions"
          [value]="option"
        >
          {{ option }}:00
        </mat-option>
      </mat-select>
  </mat-form-field>
</div>
</mat-dialog-content>

<div *ngIf="currentActivity.state === 0"
  class="approve-task-container">
  <button
    class="approve-button"
    (click)="changeState(1)">
    <img
      src="../../../../assets/img/approve-mark.svg"
      class="approve-icon">
    <p class="botton-text">Mark as done</p>
  </button>
</div>

<div *ngIf="currentActivity.state === 1"
  class="approve-task-container">
  <button
    class="approve-button"
    (click)="changeState(0)">
    <img
      src="../../../../assets/img/cancel-mark.svg"
      class="approve-icon">
    <p class="botton-text">Mark as active</p>
  </button>
</div>

<mat-dialog-actions class="buttons-container">
  <button
    class="remove-button"
    (click)="delete()"
    [disabled]="!dialogForm.valid"
  >
    Remove
  </button>
  <button
    class="add-button"
    (click)="save()"
    [disabled]="!dialogForm.valid"
  >
    Save
  </button>
</mat-dialog-actions>