.schedule-page-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.schedule-container {
    border: 3px solid #FFA500;
    width: 55%;
    height: 40%;
}

.tasks-container {
    align-items: center;
    padding-left: 5rem;
    width: 25rem;
    height: 30rem;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    background-color: #FBFBFB;
    position: relative;
}

.header-text {
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

.date-text {
    text-align: center;
    font-size: 2rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

.date-container{
    width: 65%;
    display: flex;
    justify-content: end;
}

.hour-text {
    font-size: 1rem;
    margin-block-start: 1.5rem;
    margin-block-end: 1rem;
    margin-left: 3rem;
}

.activity-button {
    border: none;
    background-color: #FBFBFB;
    height: 100%;
    width: fit-content;
    font-size: 1.5rem;
    text-align: left;
    font-family: 'Handwriting', sans-serif;
    color: #000F55;
    font-weight: 800;
}

.activity-button:hover {
    transition: 0;
  }

.activity
{
    margin-left: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 75%;
    align-items: center;
}

.tag-header {
    font-size: 1.5rem;
    margin-block-end: 0.5rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Handwriting', sans-serif;
    color: #000F55;
}

.tag {
    width: 100%;
}

.add-activity-button {
    border: 2px solid #FFA500;
    background-color: #FBFBFB;
    height: 2.5rem;
    width: 17rem;
    font-size: 1.25rem;
    text-align: center;
    position: absolute;
    bottom: 4rem;
}

.generate-schedule-button {
    border: 2px solid #FFA500;
    background-color: #FBFBFB;
    height: 2.5rem;
    width: 17rem;
    font-size: 1.25rem;
    text-align: center;
    position: absolute;
    bottom: 1rem;
}

.add-activity-icon {
    font-size: 1.5rem;
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 1rem;
    bottom: 0.4rem;
}

.write-icon {
    height: 1.5rem;
}

.write-icon:hover {
    height: 1.7rem;
    transition: 0.2s;
}

.tag-header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.activity-edit-icon{
    height: 0.8rem;
}

.edit-container{
    height: fit-content;
    width: fit-content;
}

.edit-button{
    height: fit-content;
    width: fit-content;
    padding: 0;
    margin-left: 0.5rem;
    border: none;
    background-color: #FBFBFB;
}

.edit-icon {
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    height: fit-content;
    width: fit-content;
    border: none;
    padding: 0;
    background-color: #FBFBFB;
}

.tasks-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tasks-img{
    height: 2rem;
    padding-right: 0.7rem;
}

.bullet{
    height: 1.5rem;
    width: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.svg-circle {
    fill: none;
    stroke-width: 100;
    stroke: black;
    height: 1rem;
    width: 1rem;
}

.schedule {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.3rem;
}

.scheduledActivity {
    width: 80%;
    position: absolute;
    left: 4rem;
}

.centralScheduled {
    height: 100%;
}

.sideBorders {
    border-left: 2px solid #FFA500;
    border-right: 2px solid #FFA500;
}

.topBorder {
    border-top: 2px solid #FFA500;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 85%;
    bottom: 0;
}

.bottomBorder {
    border-bottom: 2px solid #FFA500;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 85%;
    top:0
}

.activity-text {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.time-container {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    height: 2.65rem;
    align-items: center;
    position: relative;
}

.time {
    font-size: 1rem;
    margin-right: 1rem;
    font-weight: 550;
}

.activity-name {
    margin-block-start: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Handwriting', sans-serif;
    font-weight: 1000;
    color: #000F55;
}

.activity-name:hover {
    font-size: 1.7rem;
    transition: o.5s;
}

.first-half-schedule {
    width: 45%;
    margin-right: 2rem;
}

.second-half-schedule {
    width: 45%;
}

.tasks {
    width: 100%;
    height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
}

.schedule-header-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4rem;
    align-items: center;
    justify-content: center;
    position: relative;
}

.schedule-dropdown{
    display: flex;
    width: 25%;
    padding-left: 10%;
    align-items: center;
    justify-content: center;
}

.team-schedule-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*scrollbar*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #FFA500;
    border-radius: 10px;
}

/*tooltip*/

.tooltip{
    width: 1rem !important;
    height: 1rem !important;
    background-color: white;
    margin-left: 0.5rem;
}

.tooltip-img{
    height: 1rem;
    width: 1rem;
}

.mdc-button--raised{
    padding: 0 !important;
}

.mdc-button{
    min-width: 1rem !important;
}

::ng-deep .mat-mdc-button-touch-target{
    height: 1rem !important;
}

.mat-mdc-raised-button.mat-unthemed {
    --mdc-protected-button-container-color: none !important;
    --mdc-protected-button-label-text-color: none !important;
}

.mat-mdc-raised-button {
    border-radius: none !important;
    box-shadow: none !important;
}

.mat-mdc-raised-button, .mat-mdc-unelevated-button {
    --mat-mdc-button-persistent-ripple-color: none !important;
    --mat-mdc-button-ripple-color: none !important;
}