<div class="login-container">
    <button
        class="back-button"
        mat-icon-button
        (click)="redirectToHome()"
    >
        <mat-icon class="back-button-icon">arrow_back</mat-icon>
    </button>
    <div class="login-form-container">
        <P class="info-text-black">Login</P>
        <form
            class="login-form"
            [formGroup]="loginForm"
            action=""
            (submit)="loginUser()"
        >
            <mat-form-field
                appearance="fill"
                class="form-field"
                color="accent"
                hideRequiredMarker="true"
            >
                <mat-label>Email</mat-label>
                <input
                    matInput
                    formControlName="email"
                    id="email"
                >
            </mat-form-field>

            <mat-form-field
                appearance="fill"
                class="form-field"
                hideRequiredMarker="true"
            >
                <mat-label>Password</mat-label>
                <input
                    matInput
                    formControlName="password"
                    id="password"
                >
            </mat-form-field>
                <button
                    class="login-button"
                    type="submit"
                >
                    Sign in
                </button>
        </form>
        <div class="swith-to-signin">
            <p>Have no account?</p>
            <button
                class="signin-button"
                (click)="switchToRegister()"    
            ><b>Sign up</b></button>
        </div>
    </div>
    <div class="login-info">
        <div class="login-text">
            <p class="login-text-header">A few simple steps and you will have your own online organizer!</p>
        </div>
        <div>

        </div>
    </div>
</div>