<h2
  mat-dialog-title
  class="info-text-black"
>
  Add new task
</h2>

<img
  class="close-img"
  src="../../../../assets/img/close-window.png"
  (click)="close()"
>

<mat-dialog-content
  [formGroup]="dialogForm"
  class="add-dialog-container"
>
  <mat-form-field>
    <input
      matInput
      placeholder="Activity name"
      formControlName="activityName"
      class="handwitten-field"
      (keypress)="inputValidation($event, 'Activity name')"
    >
  </mat-form-field>

  <mat-form-field>
    <input
    matInput
    placeholder="Activity description"
    formControlName="activityDescription"
    class="handwitten-field"
    (keypress)="inputValidation($event, 'Description')"
  >
  </mat-form-field>

  <div class="errors">
    <span *ngIf="dialogForm.controls['activityName'].touched">
        <span *ngIf="dialogForm.controls['activityName'].errors?.['required']">
            Activity is required
        </span>
        <span
            *ngIf="(dialogForm.controls['activityName'].errors?.['minlength'] ||
            dialogForm.controls['activityName'].errors?.['maxlength']) &&
            !dialogForm.controls['activityName'].errors?.['pattern']"
        >
            Activity name can have up to 15 characters
        </span>
        <span
          *ngIf="(dialogForm.controls['activityDescription'].errors?.['minlength'] ||
          dialogForm.controls['activityDescription'].errors?.['maxlength']) &&
          !dialogForm.controls['activityDescription'].errors?.['pattern']"
        >
            Description can have up to 15 characters
        </span>
    </span>
</div>

  <button class="tag-container" (click)="changeTagState()">
    <img
      *ngIf="!isTagActive"
      src="../../../../assets/img/down-arrow.svg"
      class="down-arrow"
    >
    <img
      *ngIf="isTagActive"
      src="../../../../assets/img/up-arrow.svg"
      class="down-arrow"
    >
    <p class="tag-header">
      Additional options
    </p>
  </button>

  <div class="tag-field-container">
    <mat-form-field *ngIf="isTagActive" class="tag-field">
      <input
        list="userTags"
        name="tag"
        matInput
        placeholder="Activity tag"
        formControlName="activityTag"
        class="handwitten-field"
        (keyup)="onKey($event)"
        (keypress)="inputValidation($event, 'Tag')"
      >
      <datalist id="userTags">
        <option *ngFor="let tag of userTags" [value]="tag.name">
        
      </datalist>
    </mat-form-field>

    <div
      class="color-container"
      *ngIf="isTagActive"  
    >
        <input
          type="color"
          id="colorpicker"
          value={{color}}
          class="color-picker"
        >
    </div>
  </div>

  <div class="errors">
    <span *ngIf="dialogForm.controls['activityTag'].touched">
        <span
            *ngIf="(dialogForm.controls['activityTag'].errors?.['minlength'] ||
            dialogForm.controls['activityTag'].errors?.['maxlength']) &&
            !dialogForm.controls['activityTag'].errors?.['pattern']"
        >
            Tag name can have up to 15 characters
        </span>
    </span>
  </div>
</mat-dialog-content>

<section>
  <div
    class="checkbox-container"
    *ngIf="isTagActive"
  >
    <mat-checkbox
      [(ngModel)]="isRepeatable"
      class="checkbox"  
    >Repeatable</mat-checkbox>

    <button mat-raised-button
      matTooltip={{_repeatable_tooltip}}
      matTooltipClass="tooltip"
      class="tooltip"
    >
      <img
          src="../../../../assets/img/tooltip.png"
          class="tooltip-img"
      >
    </button>
  </div>
</section>

<mat-dialog-actions class="add-button-container">
  <button
    class="add-button"
    (click)="save()"
    [disabled]="!dialogForm.valid"
  >
    Add
  </button>
</mat-dialog-actions>