.close-img{
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

.add-button{
    height: 2.5rem;
    width: 7.5rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    position: relative;
}

.errors{
    color: red;
    width: 100%;
    font-size: 0.75rem;
    height: 0.75rem;
    text-align: end;
}
  
.add-button:hover {
    border-radius: 5px;
    background-color: white;
    color: black;
    transition: 0.2s;
    border: 1px solid black;
}

.info-text-black{
    font-size: 2rem;
    margin-block-start: 1.5rem;
    margin-block-end: 1.5rem;
    font-weight: 400;
}

.add-button-container{
    justify-content: end;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.add-dialog-container{
    width: 45rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.priority-slider{
    width: 95%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.delay-slider{
    width: 95%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.priority-label{
    margin-left: 0.65rem;
}

.add-activity-field{
    width: 10rem;
}

.down-arrow{
    height: 0.5rem;
    margin-right: 0.5rem;
}

.right-arrow{
    height: 0.8rem;
    margin-left: 0.5rem;
}

.tag-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    background: none;
    border: none;
    width: 11rem;
}

.color-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    background: none;
    border: none;
    width: 8rem;
    padding-top: 0.4rem;
}

.color-container{
    display: flex;
    flex-direction: row;
}

.tag-header{
    margin-block-start: 0;
    margin-block-end: 0;
    color: black;
    font-size: 1rem;
}

.handwitten-field {
    font-family: 'Handwriting', sans-serif !important;
    color: #000F55 !important;
    font-weight: 800 !important;
    font-size: 1.5rem !important;
}

.color-picker{
    margin-left: 1rem;
}

.tag-field{
    width: 80%;
}

.tag-field-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toast{
    position: absolute;
    top: 0;
    left: 25%;
}

.checkbox-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.activity-fields{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.activity-sliders{
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
}

.activity-settings-container{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.delay-header{
    width: 100%;
    font-size: 1.25rem;
    text-align: center;
    color: black;
    margin-top: 0.5rem;
}

.directive-term{
    width: 10rem;
    margin-right: 1rem;
}

.duration{
    width: 10rem;
}

.select-fields-container{
    display: flex;
    flex-direction: row;
}

#userTags{
    font-size: 1rem !important;
}

::ng-deep .mat-mdc-snack-bar-container{
    --mdc-snackbar-container-color: white !important;
    border: 3px solid #FFA500 !important;
    border-top: none !important;
    margin: 0 !important;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface{
    box-shadow: none !important;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface{
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__label{
    color: black !important;
}

.checkbox{
    overflow: hidden;
    padding-left: 1rem;

    --mdc-checkbox-selected-focus-icon-color: #FFA500;
    --mdc-checkbox-selected-hover-icon-color: none;
    --mdc-checkbox-selected-icon-color: #FFA500;
    --mdc-checkbox-selected-pressed-icon-color: #FFA500;
    --mdc-checkbox-selected-focus-state-layer-color: none;
    --mdc-checkbox-selected-hover-state-layer-color: none;
    --mdc-checkbox-selected-pressed-state-layer-color: none;
    --mdc-checkbox-selected-checkmark-color: black;
    --mdc-checkbox-unselected-focus-state-layer-opacity: 0;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white;
}

::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: #FFA500 !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
}

::ng-deep .mat-mdc-dialog-container {
    --mdc-dialog-container-color: white !important;
}

#colorpicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  #colorpicker::-webkit-color-swatch {
    border-radius: 5px;
    border: none;
  }
  #colorpicker::-moz-color-swatch {
    border-radius: 5px;
    border: none;
  }

  /*tooltip*/

.tooltip{
    width: 1rem !important;
    height: 1rem !important;
    background-color: white;
    margin-left: 0.5rem;
}

.tooltip-img{
    height: 1rem;
    width: 1rem;
}

.mdc-button--raised{
    padding: 0 !important;
}

.mdc-button{
    min-width: 1rem !important;
}

::ng-deep .mat-mdc-button-touch-target{
    height: 1rem !important;
}

.mat-mdc-raised-button.mat-unthemed {
    --mdc-protected-button-container-color: none !important;
    --mdc-protected-button-label-text-color: none !important;
}

.mat-mdc-raised-button {
    border-radius: none !important;
    box-shadow: none !important;
}

.mat-mdc-raised-button, .mat-mdc-unelevated-button {
    --mat-mdc-button-persistent-ripple-color: none !important;
    --mat-mdc-button-ripple-color: none !important;
}

.mat-mdc-slider.mat-primary {
    --mdc-slider-handle-color: #FFA500;
    --mdc-slider-focus-handle-color: #FFA500;
    --mdc-slider-hover-handle-color: #FFA500;
    --mdc-slider-active-track-color: #FFA500;
    --mdc-slider-inactive-track-color: #FFA500;
    --mdc-slider-with-tick-marks-active-container-color: #fff;
    --mdc-slider-with-tick-marks-inactive-container-color: #FFA500;
    --mat-mdc-slider-ripple-color: #FFA500;
    --mat-mdc-slider-hover-ripple-color: none;
    --mat-mdc-slider-focus-ripple-color: none;
}

.mat-mdc-slider{
    width: 15rem;
}