<h2
  mat-dialog-title
  class="info-text-black"
>
  Add new task
</h2>

<mat-dialog-content
  [formGroup]="dialogForm"
  class="add-dialog-container"
>
  <mat-form-field>
    <input
      matInput
      placeholder="Activity name"
      formControlName="activityName"
      class="handwitten-field"
      (keypress)="inputValidation($event, 'Activity name')"
    >
  </mat-form-field>

  <mat-form-field>
    <input
    matInput
    placeholder="Activity description"
    formControlName="activityDescription"
    class="handwitten-field"
    (keypress)="inputValidation($event, 'Description')"
  >
  </mat-form-field>

  <button class="tag-container" (click)="changeTagState()">
    <img
      *ngIf="!isTagActive"
      src="../../../../assets/img/down-arrow.svg"
      class="down-arrow"
    >
    <img
      *ngIf="isTagActive"
      src="../../../../assets/img/up-arrow.svg"
      class="down-arrow"
    >
    <p class="tag-header">
      Additional options
    </p>
  </button>

  <div class="tag-field-container">
    <mat-form-field *ngIf="isTagActive" class="tag-field">
      <input
        matInput
        placeholder="Activity tag"
        formControlName="activityTag"
        class="handwitten-field"
        (keyup)="onKey($event)"
        (keypress)="inputValidation($event, 'Tag')"
      >
    </mat-form-field>

    <div
      class="color-container"
      *ngIf="isTagActive"  
    >
        <input
          type="color"
          id="colorpicker"
          value={{color}}
          class="color-picker"
        >
    </div>
  </div>
</mat-dialog-content>

<section>
  <mat-checkbox
    *ngIf="isTagActive"
    [(ngModel)]="isRepeatable"
    class="checkbox"  
  >Repeatable</mat-checkbox>
</section>

<mat-dialog-actions class="add-button-container">
  <button
    class="add-button"
    (click)="save()"
    [disabled]="!dialogForm.valid"
  >
    Add
  </button>
</mat-dialog-actions>